#main{
	float: left;
    position: relative;
    margin-left: 50%;
}
#topBanner{
		margin-top:50px;
		float: left;
		position: relative;
		margin-left: -50%;
}
#button{
		margin-top: 50px;
		float: left;
		position: relative;
		margin-left: -50%;
}
#heading{
		float: left;
		position: relative;
		margin-left: -50%;
}
#image{
		margin-top:50px;
		float: left;
		position: relative;
		margin-left: -50%;
}
#promote{
		margin-top:50px;
		float: left;
		position: relative;
		margin-left: -50%;
}